@model DoacaoItem

@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["title"] = "Nova Doação";
}

<script src="~/js/items-list.js"></script>

@section Links{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1 d-flex justify-content-end mr-5">
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="Home" asp-action="Index">Página inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link current-page" style="font-size:22px; color: var(--main-red); font-weight: bold" asp-controller="doacao" asp-action="cadastrar">Doar Alimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="Ong" asp-action="Index">ONGs</a>
            </li>
        </ul>
    </div>
}

<div class="b-radius box-shadow h-100 w-100 d-flex">
    <div class="h-100 col-8">
        <div>
            <h3 class="title mt-5 ml-5" style="height: 10%">@ViewData["title"]</h3>

            <div class="d-flex justify-content-between align-items-center col-lg-11 ml-4">
                <a asp-action="cadastrar" asp-controller="item" class="btn btn-outline">Adicionar item</a>
                <form class="d-flex col-6" asp-action="cadastrar" asp-controller="doacao">
                    <input name="nome" class="form-control" id="pesquisa" placeholder="Procurar item por nome" style="border-radius: 10px 0 0 10px;" />
                    <button type="submit" class="btn btn-sm p-0 col-3" style="background-color:  var(--light-red); border-radius: 0 10px 10px 0;">
                        <span class="text-white">
                            Buscar
                        </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="ml-4 mt-3 pre-scrollable" style="height: 55%">
            <div class="d-flex flex-wrap">
                @if (ViewBag.itens.Count == 0)
                {
                    <h5 class="text-info">Nenhum item por aqui!</h5>
                }
                @foreach (var item in ViewBag.itens)
                {
                    <form asp-action="adicionar" class="m-2 box-shadow b-radius m-2 item-card" style="width: 46%">
                        <div style="width: 100%;">
                            <div class="d-flex justify-content-between">
                                <p class="paragraph m-3 col-8">@item.Nome</p>
                                <input asp-for="Item.Nome" value="@item.Nome" type="hidden" />
                                <button class="btn">
                                    <span class="material-icons" style="color: var(--light-red)">add_circle_outline</span>
                                </button>
                            </div>
                            <div class="d-flex">
                                <label class="col-4 mt-4" style="font-size: 1rem" asp-for="Quantidade">Quantidade</label>
                                <input class="col-4 mt-4 form-control" asp-for="Quantidade" />
                                <div class="d-flex flex-column col-4 mb-4 align-items-center">
                                    <label style="font-size: .8rem;" asp-for="UnidadeMedida">un/Kg/L</label>
                                    <select class="col-8 form-control" asp-for="UnidadeMedida"
                                            asp-items="@Html.GetEnumSelectList<UnidadeMedida>()">
                                        <option disabled class="form-control">--Selecione uma unidade de medida--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group d-flex col-11 mb-2">
                                <label asp-for="DataValidade"></label>
                                <input asp-for="DataValidade" class="form-control" />
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <div class="col-3 box-shadow b-radius m-auto" style="background-color: var(--light-grey); height: 85%; margin-top: 5%">
        <h5 class="text-danger title d-flex justify-content-center mt-4 mb-3">Itens a doar</h5>
        <div style="min-height: 60%; max-height: 55%" class="pre-scrollable mb-1">
            <ol class="list-group">
                @if (@TempData["Sucesso"] != null)
                {
                    <Feedback Texto="@TempData["Sucesso"]" is-error="false"></Feedback>
                }
                else
                {
                    <Feedback Texto="@TempData["Erro"]" is-error="true"></Feedback>
                }
                @if (ViewBag.lista.Count > 0)
                {
                    <li>
                        <p class="p-0 m-0 text-center text-list">qtd</p>
                    </li>


                    @foreach (var item in ViewBag.lista)
                    {
                        <li class="d-flex justify-content-between align-content-center col-11 m-auto">
                            <p class="text-list col-4">@item.Item.Nome</p>

                            <p class="text-list col-4">@item.Quantidade @item.UnidadeMedida.ToString()</p>

                            @*<a asp-action="remover" asp-route-id="@item.DoacaoItemId">*@
                            <a class="btn p-0">
                                <span class="material-icons col-4" style="color: var(--light-red)">delete</span>
                            </a>
                        </li>
                    }
                }
            </ol>
        </div>
        <div class="d-flex justify-content-end">
            @if (HttpContextAccessor.HttpContext.Session.Get("EstabSessao") == null)
            {
                <p class="px-4 py-2 text-dark btn-login btn" style="background-color: var(--medium-grey);
                      border-radius: 10px;" title="Faça login para habilitar essa funcionalidade">
                    Selecionar destino →
                </p>
            }
            else
            {
                <a asp-action="EscolherOng" asp-controller="ong" class="px-4 py-2 text-light btn-login btn" style="background-color: var(--light-red);
                        border-radius: 10px;">
                    Selecionar destino →
                </a>   
            }
        </div>
    </div>
</div>

