@model Ong

<h4 class="ml-3">Endereço</h4>

<div class="form-row d-flex flex-row justify-content-between mb-2">
    <div style="width: 50%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Endereco.Bairro"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Endereco.Bairro" class="form-control" value="@((TempData["bairro"] != null) ? (TempData["bairro"]) : (""))" />
            <span asp-validation-for="Endereco.Bairro" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 20%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Endereco.Cep"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Endereco.Cep" id="cep" onblur="buscarCEP()" class="form-control" value="@((TempData["cep"] != null) ? (TempData["cep"]) : (""))" />
            <span asp-validation-for="Endereco.Cep" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 20%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Endereco.Cidade"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Endereco.Cidade" class="form-control" value="@((TempData["cidade"] != null) ? (TempData["cidade"]) : (""))" />
            <span asp-validation-for="Endereco.Cidade" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div>
<div class="form-row d-flex flex-row justify-content-between mb-2 pb-2" style="border-bottom: var(--medium-grey) solid 2px">
    <div style="width: 30%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Endereco.Complemento"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Endereco.Complemento" class="form-control mb-2">
            <span asp-validation-for="Endereco.Complemento" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 15%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Endereco.Numero"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Endereco.Numero" class="form-control mb-2">
            <span asp-validation-for="Endereco.Numero" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 15%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Endereco.UF"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Endereco.UF" id="uf" class="form-control p-0 text-center" value="@((TempData["uf"] != null) ? (TempData["uf"]) : (""))" />
            <span asp-validation-for="Endereco.UF" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 30%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Endereco.Logradouro"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Endereco.Logradouro" class="form-control" value="@((TempData["logradouro"] != null) ? (TempData["logradouro"]) : (""))" />
            <span asp-validation-for="Endereco.Logradouro" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div> <br />
<div class="form-row d-flex flex-row justify-content-between">
    <div style="width: 20%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Nome"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Nome" class="form-control mb-2">
            <span asp-validation-for="Nome" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 20%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Telefone"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Telefone" id="tel" class="form-control mb-2">
            <span asp-validation-for="Telefone" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 50%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Foto"></label>
        </div>
        <div class="d-flex flex-column">
            <input asp-for="Foto" class="form-control mb-2">
            <span asp-validation-for="Foto" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
</div>
<div class="form-row d-flex flex-row justify-content-between">
    <div style="width: 50%;">
        <div class="d-flex justify-content-center">
            <label asp-for="Descricao"></label>
        </div>
        <div class="d-flex flex-column">
            <textarea asp-for="Descricao" class="form-control mb-2"></textarea>
            <span asp-validation-for="Descricao" class="text-danger mb-3" style="text-align: center"></span>
        </div>
    </div>
    <div style="width: 50%;" class="d-flex flex-row align-items-center justify-content-between">
        <div style="width: 50%;" class="ml-3">
            <div class="d-flex justify-content-center">
                <label asp-for="Email"></label>
            </div>
            <div class="d-flex flex-column">
                <input asp-for="Email" class="form-control mb-2">
                <span asp-validation-for="Email" class="text-danger mb-3" style="text-align: center"></span>
            </div>
        </div>
        <div style="width: 45%;">
            <div class="d-flex justify-content-center">
                <label asp-for="Senha"></label>
            </div>
            <div class="d-flex flex-column">
                <input asp-for="Senha" class="form-control mb-2" type="password">
                <span asp-validation-for="Senha" class="text-danger mb-3" style="text-align: center"></span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var TelMaskBehavior = function (val) {
        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
        TelOptions = {
            onKeyPress: function (val, e, field, options) {
                field.mask(TelMaskBehavior.apply({}, arguments), options);
            }
        };
    $('#tel').mask(TelMaskBehavior, TelOptions);
    $("#cep").mask("00000-000");
    $("#uf").mask("AA");
</script>
