@model IList<Ong>


@{
    ViewData["title"] = "ONGs cadastradas";
}
<meta charset="utf-8" />


@section Links{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1 d-flex justify-content-end mr-5">
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="Home" asp-action="Index">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark another-page" style="font-size:22px" asp-controller="doacao" asp-action="cadastrar">Doar Alimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link current-page" style="font-size:22px; color: var(--main-red); font-weight: bold" asp-controller="Ong" asp-action="Index">ONGs</a>
            </li>
        </ul>
    </div>
}



<div class="d-flex box-shadow flex-column" style="height: 110%; width: 98vw; margin: 1vw; border-radius: 30px; background-color: #F8F8F8">
    <div class="d-flex flex-row w-100" style="padding-left: 10%; padding-top: 2.5%; padding-bottom: 2.5%;">
        <div class="d-flex flex-column w-50">
            <h2 class="font-weight-bold d-flex flex-row m-0" style="color: var(--light-red)">Veja as ONGs cadastradas</h2>
            <p style="font-size: x-large;  margin-top: 1%;">Você pode ver mais informações sobre as ONGs clicando nos nomes delas.</p>
        </div>
        <div class="input-group w-25" style="margin-left: 20%; align-items: start">
            <form class="d-flex w-100" asp-action="index" asp-controller="Ong">
                <input name="pesquisa" class="form-control" id="pesquisa" placeholder="Procurar ong por endereço" style="border-radius: 10px 0 0 10px;" />
                <button type="submit" class="btn btn-sm p-0 col-3" style="background-color:  var(--light-red); border-radius: 0 10px 10px 0;">
                    <span class="text-white">
                        Buscar
                    </span>
                </button>
            </form>
        </div>
    </div>
    <div class="pre-scrollable my-2 mx-5 h-100">
        <div class="d-flex justify-content-around align-items-center flex-wrap">
            @foreach (var item in Model)
            {
                <div class="d-flex box-shadow flex-column my-2" style="height: 30vh; width: 27vw; border-radius: 30px;">
                    <div class="d-flex flex-row" style="height: 100%; width: 100%;">
                        <div style="width: 50%;">
                            <img src="@(item.Foto == null ? "https://raw.githubusercontent.com/Poagilers-Fenix/WebApp-Challenge/main/Imagens/no-image-found.png?token=AOXNWKVBRD3WDDJKASDBZT3BHUBDY" : @item.Foto)" style="width: 100%; height: 100%; border-radius: 30px 0 0 30px" />
                        </div>
                        <div style="width: 50%;" class="d-flex flex-column">
                            <h5 class="d-flex justify-content-center mt-2" style="word-wrap: break-word">@item.Nome</h5>
                            <p style="word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical; overflow: hidden;" class="mx-3">@item.Descricao</p>
                            <p class="d-flex justify-content-center">@item.Telefone</p>
                            <a asp-action="index" style="background-color: var(--main-red);" class="d-flex justify-content-center pa-2 text-white">Saiba mais sobre essa ong</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
