@model Ong

@{
    ViewData["title"] = "Detalhes da ong";
}
<meta charset="utf-8" />


@section Links{
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1 d-flex justify-content-end mr-5">
            <li class="nav-item">
                <a class="nav-link text-dark another-page" asp-controller="Home" asp-action="Index">Página Inicial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark another-page" asp-controller="doacao" asp-action="cadastrar">Doar Alimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link current-page" style="color: var(--main-red); font-weight: bold" asp-controller="Ong" asp-action="Index">ONGs</a>
            </li>
        </ul>
    </div>
}

<Feedback Texto="@TempData["Sucesso"]" is-error="false"></Feedback>

<Feedback Texto="@TempData["Erro"]" is-error="true"></Feedback>


<div class="pre-scrollable d-flex box-shadow flex-column align-items-center w-100 col-12 pb-5 b-radius" style="background-color: #F8F8F8; padding-left: 5%; padding-right: 5%; min-height: @(TempData["Sucesso"] != null || TempData["Sucesso"] != null ? "90%" : "100%")">
    <div class="w-100">
        <h4 class="d-flex justify-content-center font-weight-bold mb-0 mt-3 pt-4 pb-5" style="color: var(--light-red)">@Model.Nome</h4>
    </div>
    <div class="d-flex flex-row w-100">
        <div>
            <img src="@(Model.Foto == null ? "https://raw.githubusercontent.com/Poagilers-Fenix/WebApp-Challenge/main/Imagens/no-image-found.png?token=AOXNWKVBRD3WDDJKASDBZT3BHUBDY" : @Model.Foto)"
                 style="object-fit: cover; height: 200px; width: 300px; border-radius: 30px;" />
        </div>
        <div class="d-flex justify-content-center align-items-center ml-3 pb-0">
            <p class="paragraph">@Model.Descricao</p>
        </div>
    </div>
    <div class="d-flex justify-content-center flex-row w-100 py-5">
        <p class="h2">Informações de contato e endereço</p>
    </div>
    <div class="w-100 d-flex flex-row justify-content-between">
        <div>
            <p class="paragraph">Endereço: @Model.Endereco.Cidade - @Model.Endereco.Logradouro, @Model.Endereco.Bairro, @Model.Endereco.Numero </p>
            <p class="paragraph">Complemento: @Model.Endereco.Complemento</p>
            <p class="paragraph">CEP: @Model.Endereco.Cep</p>
            <p class="paragraph">Email: @Model.Email</p>
            <p class="paragraph mb-0">Telefone: @Model.Telefone</p>
        </div>
        <div class="d-flex flex-column justify-content-around ml-5">
            <div class="mx-auto row justify-content-center">
                <button type="button" class="mb-3 btn btn-danger" data-toggle="modal" data-target="#modalConfirma">
                    Você é responsável por essa ong e quer tirá-la do sistema? clique aqui
                </button>
            </div>
            <a asp-action="Cadastrar" asp-controller="Doacao" class="btn btn-block text-white" style="background-color: var(--light-red); ">Faça uma doação para essa ong</a>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirma" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="DeletarOng" asp-controller="Ong">
                <div class="modal-header" style="background-color: #23272B; color: white">
                    <h5 class="modal-title" id="modalLabel">Confirmação</h5>
                </div>
                <div class="modal-body" style="background-color: var(--header-bg)">
                    <p>Não será possível reverter esta ação, os dados da ONG serão apagados. Tem certeza que deseja apagar <b>definitivamente</b> a ONG? </p>
                    <input name="senha" value="" type="password" placeholder="Insira a senha de sua ong" class="container-fluid form-control" />
                    <input type="hidden" name="ongId" value="@Model.OngId" />
                </div>
                <div class="modal-footer border-top-0" style="background-color: var(--header-bg); color: white">
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-modal text-white">Sim, apagar ONG</button>
                </div>
            </form>
        </div>
    </div>
</div>
